.container {
  width: 100%;
  height: 1800px;
  padding: 0;
  margin: 0;
  outline: 1px solid red;
}
.welcome {
  font-style: italic;
  text-align: center;
}
.postbox {
  position: relative;
  left: 35px;
  padding: 10px;
  margin: 10px;
  width: 50%;
}

.postpic {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
.postlist {
  margin: 10px auto 10px auto;
  width: 60%;
  padding: 0;
}

.news-container {
  width: 30%;
  float: left;
  display: inline;
}

.postbottom {
  margin-bottom: 0;
}

.postdate {
  position: relative;
  left: -200px;
  top: -30px;
  margin: 1px 10px 0px 10px;
}

.background {
  height: 500px;
  width: 100%;
  margin-bottom: 10px;
}

.postcard {
  position: relative;
  word-wrap: break-word;
  background-color: rgb(245, 245, 245);
  text-align: center;
  padding: 2px;
  margin: 10px auto 10px auto;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  outline: 1px solid red;
}

.postcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.deletebutton {
  position: sticky;
  margin: 1px 10px 0px 10px;
}

textarea {
  height: 100px;
  width: 400px;
  resize: none;
}
p{
  margin: 10px 10px 0px 10px;
}

.profilecontainer {
  text-align: center;
}

.posts-container {
  text-align: center;
  width: 60%;
  margin-right: 90px;
  float: left;
  display: inline;
  outline: 1px solid red;
}

.articles-list {
  width: 100%;
  padding: 0;
  outline: 1px solid red;
}






